
.componente {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}


.contador {
  font-size: 24px;
  text-align: center;
}


.nombre-usuario {
  font-size: 18px;
  text-align: center;
}


.calculadora {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculadora input {
  padding: 5px;
  margin-bottom: 10px;
}

.calculadora button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.calculadora button:hover {
  background-color: #0056b3;
}